<div class="message">
    <div class="msg-photo"><img data-photo={{message.from}} src={{message.photo}}>No photo</div>
    <div class="msg-content">
        <div class="msg-name-and-data">
            <span class="msg-name">{{message.name}}</span>
            <span class="msg-date">{{message.date}}</span>
        </div>
        <div class="msg-text">{{message.text}}</div>
    </div>
</div>